#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$mkaQiG3eI3H9/Z94$lLxrjeZqRZCgXd9.wDZnF22GaAXQHub0HJ0yTQZDz2teaPAh1m2TES5SgbRXproEfRnJJyyCuWTlbTOMk/gfe.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc
user --name=fairroot --password=$6$Uk16G7JM5pOJ2p.D$OlIpvVBVzBKYtiO5tCDmDStR4DsAWaBBGXrfcetqnUGfcLY278QoBrIyEHhM2ZiM4TBa/1DoYr7zaFm.RbRCr1 --iscrypted --gecos="FairRoot"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=38474
part swap --fstype="swap" --ondisk=sda --size=1025
part /boot --fstype="ext4" --ondisk=sda --size=500

%packages
@^server-product-environment
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end

%post --erroronfail
dnf -y update

cat <<EOF > /etc/sudoers.d/fairroot
Defaults:fairroot !requiretty
fairroot ALL=(ALL) NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/fairroot

#mkdir -p /etc/systemd/network
#ln -sf /dev/null /etc/systemd/network/99-default.link
#cat > /etc/sysconfig/network-scripts/ifcfg-eth0 <<EOF
#DEVICE="eth0"
#BOOTPROTO="dhcp"
#ONBOOT="yes"
#TYPE="Ethernet"
#EOF
%end
